.card {
    background-color: rgb(187, 134, 252);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
    margin: 15px;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .card-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .sub-value {
    flex: 1;
    text-align: center;
    padding: 10px;
  }
  
  .sub-label {
    font-size: 14px;
    color: #fff;
  }
  
  .sub-number {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }
  
  .main-value {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }
  