/* width */
*::-webkit-scrollbar {
    width: 4px !important; 
  }
  
  /* Track */
  *::-webkit-scrollbar-track {
    background: rgba(110, 37, 161, 0.426)  !important;
    margin: 0 !important;
    box-shadow: none !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(1deg,#7b24d2 30%, #9c27b0) !important;
    border-radius: 10px !important;
    box-shadow: none !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }
  
  #lessonViewRender::-webkit-scrollbar {
    height: 8px !important;
    width: 10px !important;
  }
  #lessonViewRender::-webkit-scrollbar-thumb {
    background: linear-gradient(1deg,#7b24d2 30%, #9c27b0) !important;
    border-radius: 10px !important;
    box-shadow: none !important;
  }

  *{
    margin: 0;
    padding: 0;
    /* font-family: "poppins"; */
  }